* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(#edf5e1,#8ee4af,#5cdb95,#379683,#05386b);
}

.header {
    padding: 20px;
    background-image: linear-gradient( #379683, #05386b) ;
    color: #8ee4af;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}


.header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    height: auto;
}

.header nav ul {
    list-style: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.header nav ul li:hover{
    background-color: #379683;
    border: hotpink solid 1px;
    
}

a {
    color: #8ee4af;
}

p {
    font-size: 16px;
}
.About-Me {
    color: #05386b;
    padding: 30px;
}
.Projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.Work {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #05386b;
    padding: 30px;
}

.Bio {
    display: inline-flex;
    color: #05386b;
    text-align: center;
   margin-right: 200px;
   margin-left: 200px;
}

.Bio p{
    font-size: 18px;
}
.Profile {
    display: flex;
    height: 200px;
    width: auto;
    align-content: center;
    justify-content: space-evenly;
}

.battlestats {
    display: flex;
    justify-content: start;
    width: 600px;
    height: auto;
}
.Runbuddy {
    display: flex;
    justify-content: start;
    width: 600px;
    height: auto;
}
.FreeUrMind {
    display: flex;
    justify-content: start;
    width: 600px;
    height: auto;
}
.button {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}
.Resume {
    display:block;
    right: 50;
    width: 25%;
    border: #8ee4af 3px;
    background-color: #05386b;
    padding: 14px 28px;
    font-size: 32px;
    cursor: pointer;
    text-align: center;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 30px;
    justify-content: space-between;
}
.contact-info h2 {
color: #8ee4af;
}

.contact-info {
    font-size: 20px;
}
.info {
    display: inline-flex;
    color: #8ee4af;
    flex-direction: row;
    justify-content: space-evenly;
}
.Phone {
    padding: 20px;
}
.Email {
    padding: 20px;
}
.Insta {
    padding: 20px;
}
.Apple {
    padding: 20px;
}
.Github {
    padding: 20px;
}